/* Micro Reset */



html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

button, input, select, textarea, label {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
}

/* Typography */

body {
  font-size: 17px;
  line-height: 1.75;

}

.title * {
  font-weight: normal;

}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 40px 0 30px;
  line-height: 1.25;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 0.8px solid #ddd;
}

h3, h4, h5, h6 {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
}

blockquote {
  margin: 1em 0;
  padding: 0 2em;
  border-left: 3px solid #ddd;
}

/* Code */

pre, code {
  font-size: .9em;
}

pre code {
  display: block;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  line-height: 1.75;
}

pre {
  background-color: #f5f5f5;
}

code {
  background: #f6f6f6;
}

pre code {
  background: none;
}

pre code, pre code:hover {
  white-space: pre-wrap;
  word-break: break-all;
}



/* Lists */

ul, ol {
  padding: 0 0 0 20px;
}

li {
  margin: 5px 0;
  padding: 0;
}

/* Links */

a {
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dashed;
}

a:hover {
}

sup a {
  border-bottom: none;
}

/* Miscellanea */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 30px auto;
  padding: 0;
  max-width: 160px;
}

.copyright {
  text-align: center;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.nav-next {
  margin-left: 1em;
  text-align: right;
}

.nav-prev {
  margin-right: 1em;
}

.comments {
  margin-top: 20px;
}

/* Layout */

body {
  width: 1200px;
  margin: 0 100px;
  padding: 40px 0;
}

.masthead {
  width: 260px;
  padding: 20px 50px 20px 10px;
  float: left;
}

.main {
  width: 900px;
  padding: 32px 10px 20px 70px;
  margin-left: 260px;
  border-left: 0.5px solid black;
  min-height: calc(100vh - 60px);
}

/* Masthead */

.masthead h1 {
  margin-top: 0;
  margin-bottom: 23px;
  padding: 0;
  text-align: right;
  font-size: 46px;
  line-height: 58px;
}

.masthead h1 a {
  border-bottom: none;
}

.masthead .tagline {
  font-style: italic;
  text-align: right;
}

.masthead .menu {
  margin-right: 20px;
  direction: rtl;
}

.masthead .menu a {
  direction: ltr;
}

.masthead .menu ul ul {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.masthead .menu li li::before {
  content: "•\00a\000a0\00a0"
}

#menu-check {
  display: none;
}

#menu-label {
  display: none;
}

/* Main */

.main .title h1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.title h3 {
  font-weight: normal;
  text-align: center;
}

.subtitle {
  font-size: 19px;
  font-weight: normal
}

/* Footnotes */

.footnotes {
  font-size: .9em;
}

.footnote-ref::before {
  content: "[";
}

.footnote-ref::after {
  content: "]";
}


/* Tables */

table {
  min-width: 50%;
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #666;
}

th, td {
  padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
  background: #f8f8f8;
}

/**
 * Utility Styles
 */

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * -------------------------------------------------------------------------
 *  Media Queries
 * -------------------------------------------------------------------------
 *
 * The @viewport tag does the same thing as
 *
 *   <meta name="viewport" content="width=device-width">
 *
 * but in the future W3C standard way. The -ms- prefix is required for
 * IE10+ to render responsive styling in Windows 8 "snapped" views;
 * IE10+ does not honour the meta tag.
 */

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* Tablet screens and smaller */

@media (hover: hover) and (pointer: fine) {
  :not(.logo) > a:hover {
    position: relative;
    inset: 1px 0 0 1px;
  }
}
nav a, footer a, .archive a, sup a {
  border-bottom: none;
}
.anchor {
  display: none;
}
:hover > .anchor {
  display: inline;
}
.single .main h2 {
  border-bottom: 1px solid var(--border-color);
}
.single .main h3 {
  font-variant: small-caps;
  text-align: center;
}
li {
  margin: 4px 0;
}
hr {
  border-style: dashed;
  color: var(--border-color);
}
img, iframe, video {
  max-width: 100%;
}
#TableOfContents {
  background-color: var(--bg-block);
  padding: .5em;
}
#TableOfContents > ul {
  margin: 0 auto;
}
#TableOfContents > ul > li > ul li {
  margin-right: 2em;
}
blockquote, .toc-list, .toc-list ul {
  border-left: 2px solid var(--border-color);
  padding-left: 1em;
}
.single blockquote {
  background: var(--bg-block);
  border-left-width: 5px;
  padding: 3px 1em 3px;
}
.post-nav {
  margin-top: 1rem;
}
.post-nav span {
  width: calc(50% - 1em);
}
.post-nav span + span {
  text-align: right;
}
table {
  min-width: 50%;
  margin: auto;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
table thead th {
  border-bottom: 1px solid var(--border-color);
}
th, td {
  padding: 5px;
}
thead, tfoot, tr:nth-child(even), code {
  background: var(--bg-block);
}

/* metadata */
.toc-line {
  display: flex;
  align-items: flex-end;
}
.dots {
  border-bottom: 2px dotted var(--border-color);
  margin: 0 .5em .5em;
  min-width: 10rem;
  flex-grow: 1;
}
.page-num {
  counter-increment: pageNumber;
}
.page-num::before {
  content: counter(pageNumber);
}
.toc-list, .toc-list ul {
  list-style: none;
  margin-left: 1em;
}
.toc-line, .subtitle, .meta-line {
  font-weight: normal;
}
.author + .date::before {
  content: " / ";
}
h1.title, .toc-line > a {
  font-style: italic;
}
h1.title {
  margin-top: 1em;
}
.small, .term, .footnotes, li li {
  font-size: .9em;
}
.footnotes > hr {
  max-width: 20em;
  margin-left: 0;
}
.terms, #TableOfContents > ul > li > ul {
  display: flex;
  flex-wrap: wrap;
}
.terms li, .term {
  margin-left: 2em;
}
.term-cat + .term-tag::before {
  content: " · ";
}

@media (min-width: 768px) {
  body {
    padding: 3.5em 2.5em;
  }
  .main {
    margin: auto;
    width: var(--text-width);
  }
  pre, table, .fullwidth {
    width: calc(min(100vw, var(--body-width)) - 5rem);
    margin-left: calc(50% + 2.5rem - min(100vw, var(--body-width)) / 2);
  }
  .crop-h, .crop-v, .crop-c {
    position: absolute;
    z-index: -1;
  }
  .crop-h {
    inset: 2em 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .crop-v {
    inset: 0 2em;
    border-left: 1px solid;
    border-right: 1px solid;
  }
  .crop-c {
    inset: 1em;
    border: 1.5em solid var(--bg-body);
  }
  .menu {
    margin-left: 2em;
  }
  .menu span {
    margin-left: 1em;
  }
  h1.title::before {
    font-size: 6em;
    inset: 0;
  }
  .logo img, .menu .optional {
    display: inline-block;
  }
  .twocolumn {
    columns: 2;
  }
}

@media only screen and (min-width: 992px) {
  body {
    min-height: calc(100vh - 5em);
    margin: 2em auto;
  }
  .home {
    padding: 0 2em;
  }
  h1.title {
    margin-top: 2em;
  }
  h1.title::before {
    font-size: 9em;
    inset: -.1em 0;
  }
  pre code {
    white-space: pre;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #dedad6;
    --bg-block: #d6d1cc;
    --border-color: #999;
    --box-shadow: 5px 5px 5px #ccc;
  }
  html, img, video, iframe {
    filter: invert(1);
  }
}


/* TOC */
.twocolumn {
    columns: 2; /* 或使用 display: flex; */
}

#TableOfContents {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
}

#TableOfContents > ul {
  margin: 0 auto;

}


