{{ if .Section }}
<nav class="post-nav">
  <span class="nav-prev">{{ with .PrevInSection }}&larr; <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}</span>
  <span class="nav-next">{{ with .NextInSection }}<a href="{{ .RelPermalink }}">{{ .Title }}</a> &rarr;{{ end }}</span>
</nav>
{{ end }}

{{ partial "disqus.html" . }}

<script src="//yihui.org/js/math-code.js"></script>
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<script async src="//yihui.org/js/center-img.js"></script>





<style>
    .back-to-top {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 45px;
      height: 45px;
      background-color: none;
      color: #5aa4e1;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      border: none;
      font-size: 32px;
    }
  
    .back-to-top:hover {
      background-color: white;
      color: #5aa4e1;
      border: 1px solid #5aa4e1;
    }
  </style>
  
  <div class="back-to-top" onclick="scrollToTop()">
    &#8593;
  </div>
  
  <script>
    function scrollToTop() {
      window.scrollTo({
        top: 0
       
      });
    }
  
    window.addEventListener('scroll', function() {
      var backToTop = document.querySelector('.back-to-top');
      if (window.pageYOffset > 300) {
        backToTop.style.display = 'block';
      } else {
        backToTop.style.display = 'none';
      }
    });
  </script>






